.card {
    width: 300px;
    height: 500px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.card-1 {
    width: 250px;
    height: 300px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.test{
    color: red;
}

.card-2 {
    width: 300px;
    height: 200px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid;
}

.img {
    width: 300px;
    height: 350px;
    border-radius: 4px;
}

.img-1 {
    width: 250px;
    height: 200px;
    border-radius: 4px;
}

.img-2 {
    width: 344px;
    height: 382px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.box-header {
    width: 200px;
    height: 50px;

}
.head-1{
     font-family: 'Roboto', 'sans-seri';
     font-weight: 700;
     font-size: 60px;
     color:#FFFFFF ; 
}
.head-2{
    font-family: 'Roboto', 'sans-seri';
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.head-21{
    font-family: 'Roboto', 'sans-seri';
    font-weight: 400;
    font-size: 16px;
    color: #212121;
}
.head-22{
    font-family: 'Roboto', 'sans-seri';
    font-weight: 400;
    font-size: 34px;
    color: #212121;
                
}
.subhead-1{
    font-family: 'Roboto', 'sans-seri';
    font-weight: 400;
    font-size: 16px; 
    color: #757575;
}
.banner-shadow{
    background-color:#00BCD4; 
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);

}
.head-num{
    font-family: 'Roboto', 'sans-seri';
    font-weight: 400;
    font-size: 14px;
    color: #212121;
}
